body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  background: #f1f1f5;
  /*-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
